# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
codeStyleConfig.xml
misc.xml
modules.xml
Project.xml
sweetScala.iml
vcs.xml
/codeStyles
